.login-section {
    @include df_ac_jcc;
    height: 100dvh;
    width: 100dvw;
    &__info-block {
        @include df_fdc_ac;
        gap: 3rem;
    }
    &__title {
        @include df_ac_jcc;
        @include heading_1;
    }
    &__form {
        @include df_fdc;
        gap: 1.5rem;
        width: 20rem;
    }
    &__button-block {
        @include df_fdc;
        gap: 1rem;
        width: 20rem;
        .button {
            width: 100%;
        }
    }
    &__links-block {
        @include df_fdc;
        gap: .75rem;
        &__list {
            @include df_ac;
            gap: 1rem;
        }
    }
}