.projects-reports-section {
    &__container {
        @include df_fdc;
        padding: 2rem 10rem;
        gap: 2rem;
        padding-bottom: 0;
    }
    &__title {
        @include heading_1;
    }
}