.table {
    display: flex;
    border: 1px solid $dark-subdued-20;
    &__column {
        @include df_fdc;
        width: 100%;
        &__cell {
            @include df_ac;
            justify-content: space-between;
            padding: 1.5rem 2rem;
            border: 1px solid $dark-subdued-20;
            @include text_1;
            &.title {
                @include subheading;
            }
            &__button {
                width: 2rem;
                height: 2rem;
                svg {
                    @include wh_100;
                }
            }
        }
    }
}