<!DOCTYPE html>
<html lang="ru">
<head>
    <title>NexGen</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content=""/>
    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="keywords" content=""/>

    <link rel="icon" type="image/x-icon" href="">

    <link rel="stylesheet" href="../../src/styles/main.css">
</head>

<body>
    
    <main>

        <section>
            <div class="login-section">
                <div class="login-section__info-block">
                    <div class="login-section__title">
                        Вход
                    </div>
                    <form class="login-section__form" id="login-admin-form">
                        <div class="field">
                            <label for="login-input" class="input-label">
                                <input type="text"
                                    placeholder="Логин"
                                    name="login"
                                    id="login-input"
                                >
                            </label>
                        </div>
                        <div class="field">
                            <label for="password-input" class="input-label">
                                <input type="password"
                                    placeholder="Пароль"
                                    name="password"
                                    id="password-input"
                                >
                            </label>
                        </div>
                    </form>
                    <div class="login-section__button-block">
                        <button class="button button_size_basic button_accent"
                            name="button"
                            form="login-admin-form"
                            disabled
                        >Войти
                        </button>
                    </div>
                    <div class="login-section__links-block">
                        <span>Кто вы?</span>
                        <div class="login-section__links-block__list">
                            <a href="/templates/index.html" class="button button_size_small button_bordered">
                                Клиент
                            </a>
                            <a href="/templates/login/manager-login.html" class="button button_size_small button_bordered">
                                Менеджер
                            </a>
                            <a href="/templates/login/admin-login.html" class="button button_size_small button_bordered button_active">
                                Администратор
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
</body>

<script src="https://unpkg.com/imask"></script>
<script type="module" src="../../src/scripts/app.js"></script>
</html>