<!DOCTYPE html>
<html lang="ru">
<head>
    <title>NexGen</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content=""/>
    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="keywords" content=""/>

    <link rel="icon" type="image/x-icon" href="">

    <link rel="stylesheet" href="../../src/styles/main.css">
</head>

<body>
    
    <header>
        <div class="header-section">
            <div class="header-section__container">
                <div class="header-section__logo-block">
                    <a href="" class="header-section__logo-block__logo">
                        <img src="../../src/assets/images/logo.svg" alt="Logo">
                    </a>
                    <div class="header-section__logo-block__nav">
                        <a href="/templates/client/projects-statuses.html" class="link link_size_basic link_primary link_active">
                            Статусы
                        </a>
                        <a href="/templates/client/make-request.html" class="link link_size_basic link_primary">
                            Запрос
                        </a>
                        <a href="/templates/client/client-chats.html" class="link link_size_basic link_primary">
                            Чаты
                        </a>
                    </div>
                </div>
                <a href="/templates/client/client-profile.html" class="header-section__nav-block">
                    <button class="icon-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.87988 24C2.87988 21.5752 3.84074 19.2496 5.55107 17.535C7.2614 15.8204 9.58111 14.8571 11.9999 14.8571C14.4187 14.8571 16.7384 15.8204 18.4487 17.535C20.159 19.2496 21.1199 21.5752 21.1199 24H2.87988ZM11.9999 13.7143C8.22078 13.7143 5.15988 10.6457 5.15988 6.85714C5.15988 3.06857 8.22078 0 11.9999 0C15.779 0 18.8399 3.06857 18.8399 6.85714C18.8399 10.6457 15.779 13.7143 11.9999 13.7143Z" fill="#A6A6A6"/>
                        </svg>
                    </button>
                    <span>Клиент</span>
                </a>
            </div>
        </div>
    </header>

    <main>

        <section>
            <div class="projects-statuses-section">
                <div class="projects-statuses-section__container">
                    <div class="projects-statuses-section__title">
                        Статус проектов
                    </div>
                    <div class="projects-statuses-section__info-block">
                        <div class="projects-statuses-section__tag">
                            История изменения заказов
                        </div>
                        <div class="table">
                            <div class="table__column">
                                <div class="table__column__cell title">
                                    Дата
                                </div>
                                <div class="table__column__cell">
                                    09.04.2023 12:33
                                </div>
                                <div class="table__column__cell">
                                    08.12.2023 14:13
                                </div>
                                <div class="table__column__cell">
                                    09.03.2024 21:23
                                </div>
                            </div>
                            <div class="table__column">
                                <div class="table__column__cell title">
                                    Предыдущий статус
                                </div>
                                <div class="table__column__cell">
                                    В разработке
                                </div>
                                <div class="table__column__cell">
                                    Приняли
                                </div>
                                <div class="table__column__cell">
                                    Приняли
                                </div>
                            </div>
                            <div class="table__column">
                                <div class="table__column__cell title">
                                    Новый статус
                                </div>
                                <div class="table__column__cell">
                                    Готов
                                </div>
                                <div class="table__column__cell">
                                    В разработке
                                </div>
                                <div class="table__column__cell">
                                    В разработке
                                </div>
                            </div>
                            <div class="table__column">
                                <div class="table__column__cell title">
                                    Название проекта
                                </div>
                                <div class="table__column__cell">
                                    Смешные носки: Брендбук
                                </div>
                                <div class="table__column__cell">
                                    Без разницы
                                </div>
                                <div class="table__column__cell">
                                    Огромный кот в мешке
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
</body>

<script src="https://unpkg.com/imask"></script>
<script type="module" src="../../src/scripts/app.js"></script>
</html>