@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    @include desktop {
        font-size: .8333vw;
    }
    @include mobile {
        font-size: 12px;
    }
    &::-webkit-scrollbar {
        width: .5rem;
    }

    &::-webkit-scrollbar-track {
        background: inherit;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark-subdued-40;
        border-radius: 100px;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: $dark;
    font-family: "Exo 2", sans-serif;
}

main {
    max-width: 1921px;
    margin: 0 auto;
    @include desktop {
        margin: 0;
        max-width: none;
    }
}

hr {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}